alembic==1.2.1
alert==0.0.2
altair==4.1.0
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
argcomplete==1.11.1
asn1crypto==0.24.0
astor==0.8.1
astroid==2.4.0
astropy==3.0
attrs==17.4.0
autopep8==1.5.4
aws==0.2.5
aws-shell==0.2.0
awscli==1.18.85
awsebcli==3.18.1
base58==2.0.1
bcrypt==3.1.7
beautifulsoup4==4.6.0
bleach==1.4.3
blessed==1.17.8
blessings==1.6
blinker==1.4
boto==2.49.0
boto3==1.13.22
botocore==1.17.8
bpython==0.17.1
branca==0.4.0
Brlapi==0.6.6
cached-property==1.5.1
cachetools==4.1.1
cement==2.8.2
certifi==2019.3.9
cffi==1.14.0
cfn-flip==1.2.3
chardet==3.0.4
Click==7.0
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
cryptography==2.9.2
cssmin==0.2.0
cupshelpers==1.0
curtsies==0.2.12
cycler==0.10.0
decorator==4.1.2
defer==1.0.6
dill==0.2.7.1
distlib==0.3.0
dnspython==1.16.0
docker==4.2.1
docker-compose==1.25.5
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
durationpy==0.5
EB==0.1.5
ec2-hibinit-agent==1.0.0
elasticsearch==7.7.1
email-validator==1.1.1
entrypoints==0.2.3.post1
enum-compat==0.0.3
enum34==1.1.6
fabric==2.5.0
ffmulticonverter==1.8.0
filelock==3.0.12
Flask==0.10.1
Flask-Admin==1.5.3
Flask-Assets==0.12
Flask-Babel==0.12.2
Flask-Bcrypt==0.7.1
Flask-Caching==1.4.0
Flask-Cors==3.0.6
flask-heroku==0.1.9
Flask-Lint==0.1.dev20171129
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Maple==0.5.6
Flask-Migrate==2.5.2
flask-mongoengine==0.9.5
Flask-MySQLdb==0.2.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
flask-whooshalchemy3==0.2.0
Flask-WTF==0.14.2
folium==0.10.1
Frozen-Flask==0.15
future==0.16.0
gevent==1.4.0
glueviz==0.9.1
greenlet==0.4.15
Guake==3.0.5
gunicorn==19.6.0
h5py==2.7.1
hjson==3.0.1
html5lib==0.9999999
httplib2==0.9.2
idna==2.6
importlib-metadata==1.6.0
importlib-resources==1.5.0
imutils==0.5.3
invoke==1.4.1
ipaddress==1.0.17
ipykernel==5.3.4
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.10.0
joblib==0.11
jsmin==2.2.1
jsonlint==0.1
jsonschema==2.6.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kappa==0.6.0
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.3
logilab-common==1.4.1
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.1.0
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==2.1.1
matplotlib-venn==0.11.5
mccabe==0.6.1
mistune==0.8.3
mod-wsgi==4.7.1
mongo==0.2.0
mongoengine==0.20.0
mysqlclient==1.4.6
nbconvert==5.3.1
nbformat==4.4.0
nemo-emblems==4.0.2
netifaces==0.10.4
networkx==1.11
notebook==5.2.2
numpy==1.18.2
onboard==1.4.1
org-python==0.2.7
packaging==20.4
PAM==0.4.2
pandas==0.22.0
pandocfilters==1.4.2
paramiko==2.7.1
passlib==1.7.1
pathspec==0.5.9
pathtools==0.1.2
pbr==3.1.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==7.2.0
pip-tools==5.2.0
pipenv==2020.5.28
placebo==0.9.0
playsound==1.2.2
plotly==2.2.3
pluggy==0.6.0
ply==3.11
prettytable==0.7.2
prompt-toolkit==1.0.15
protobuf==3.12.4
psutil==5.4.2
psycopg2-binary==2.8.1
py==1.5.2
pyarrow==1.0.0
pyasn1==0.4.2
PyAVM==0.9.4
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pydeck==0.4.1
pygame==1.9.6
Pygments==2.2.0
pygobject==3.26.1
PyICU==1.9.8
pyinotify==0.9.6
pylint==2.5.0
pymacaroons==0.13.0
pymongo==3.10.1
PyMySQL==0.8.0
PyNaCl==1.1.2
pyparsing==2.2.0
pyRFC3339==1.0
pytest==3.3.2
pytest-arraydiff==0.2
pytest-astropy==0.2.1
pytest-doctestplus==0.1.2
pytest-openfiles==0.2.0
pytest-remotedata==0.2.0
python-apt==1.6.5+ubuntu0.3
python-dateutil==2.6.1
python-debian==0.1.32
python-dotenv==0.10.1
python-editor==1.0.4
python-instagram==1.3.2
python-slugify==4.0.0
python-xapp==1.4.0
python-xlib==0.20
pytz==2018.7
PyWavelets==0.5.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==16.0.2
qtconsole==4.3.1
QtPy==1.3.1
redis==2.10.5
reportlab==3.4.0
requests==2.20.1
requests-unixsocket==0.1.5
roman==2.0.0
rsa==3.4.2
s3transfer==0.3.3
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==0.19.1
seaborn==0.8.0
SecretStorage==2.3.1
semantic-version==2.5.0
sessioninstaller==0.0.0
setproctitle==1.1.10
simplegeneric==0.8.1
simplejson==3.13.2
six==1.11.0
sklearn-pandas==1.5.0
speaklater==1.3
SQLAlchemy==1.3.5
sqlparse==0.2.4
streamlit==0.64.0
system-service==0.3
systemd-python==234
termcolor==1.1.0
terminado==0.7
testpath==0.3.1
text-unidecode==1.3
texttable==1.6.2
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
tqdm==4.46.1
traitlets==4.3.2
troposphere==2.6.1
typed-ast==1.4.1
tzlocal==2.1
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.24.3
uWSGI==2.0.18
validators==0.17.1
vboxapi==1.0
virtualenv==20.0.19
virtualenv-clone==0.5.4
watchdog==0.10.3
wcwidth==0.1.7
webassets==2.0
webencodings==0.5
websocket-client==0.57.0
Werkzeug==0.16.0
Whoosh==2.7.4
widgetsnbextension==3.5.1
wrapt==1.12.1
wsgi-request-logger==0.4.6
WTForms==2.2.1
xarray==0.10.2
xkit==0.0.0
xlrd==1.1.0
youtube-dl==2018.3.14
zappa==0.51.0
zipp==3.1.0
